In [75]:
import os
import pandas as pd
import datetime

# Log Data Extraction

## server_access log

In [2]:
# Extract the IP address.
def extract_ip_address(log_line):
    if "::1 - -"  not in log_line:
        ip_address = log_line.split(' - -')[0]
        return ip_address
    else:
        return 'request was made from the same machine'

In [3]:
# Extract date and time.
def extract_date_time(log_line):
    if "::1 - -"  not in log_line:
        date_time = log_line.split(' - -')[1].split('"')[0]
        return date_time
    else:
        return 'request was made from the same machine'

In [4]:
# Extract method of request.
def extract_method_of_request(log_line):
    if "::1 - -"  not in log_line:
        method_of_request = log_line.split('"')[1]
        return method_of_request
    else:
        return 'request was made from the same machine'

In [5]:
# Extract url of request.
def extract_url(log_line):
    if "::1 - -"  not in log_line:
        request_url = log_line.split('"')[1].split(' ')[1]
        return request_url
    else:
        return 'request was made from the same machine'

In [6]:
# Extract http status code of request.
def extract_http_status_code(log_line):
    if "::1 - -"  not in log_line:
        status_code = log_line.split('"')[2]
        return status_code
    else:
        return 'request was made from the same machine'

In [7]:
# Extract number of bytes send in response
def extract_number_of_bytes_send_in_response(log_line):
    if "::1 - -"  not in i:
        number_of_bytes_send_in_respond = log_line.split(' - -')[1].split('"')[2].split(' ')[2]
        return number_of_bytes_send_in_respond
    else:
        return 'request was made from the same machine'

In [8]:
# Extract referer header.
def extract_referer_header(log_line):
    if "::1 - -"  not in log_line:
        referer_header = log_line.split(' - -')[1].split('"')[3]
        return referer_header
    else:
        return 'request was made from the same machine'

In [9]:
# Extract user agent header.
def extract_user_agent_header(log_line):
    if "::1 - -"  not in log_line:
        user_agent_header = log_line.split(' - -')[1].split('"')[-2]
        return user_agent_header
    else:
        return 'request was made from the same machine'

In [10]:
def get_access_log_data(data_dir):
    sub_dir_list=[]
    ip_address=[]
    date_time = []
    request_method=[]
    #request_url = []
    request_http_status_code = []
    #num_of_bytes_in_response = []
    referer_head=[]
    user_head = []
    for sub_dir in os.listdir(data_dir):
        sub_dir_path = os.path.join(data_dir,sub_dir)
        sub_dir_list.append(sub_dir_path)
    for file_path in sub_dir_list:
        with open(file_path, 'r') as f:
            data= f.readlines()
            ip_addrs=[extract_ip_address(i) for i in data]
            date_list=[extract_date_time(i) for i in data]
            request_methd=[extract_method_of_request(i) for i in data]
            #request_url_list=[extract_url(i) for i in data]
            request_status_code=[extract_http_status_code(i) for i in data ]
            #num_of_bytes=[extract_number_of_bytes_send_in_response(i) for i in data]
            referer=[extract_referer_header(i) for i in data]
            user_header=[extract_user_agent_header(i) for i in data]
            ip_address.append(ip_addrs)
            date_time.append(date_list)
            request_method.append(request_methd)
            #request_url.append(request_url_list)
            request_http_status_code.append(request_status_code)
            #num_of_bytes_in_response.append(num_of_bytes)
            referer_head.append(referer)
            user_head.append(user_header)
    ip=[ip for i in ip_address for ip in i]
    dt = [date for i in date_time for date in i]
    r_method=[rmethod for i in request_method for rmethod in i]
    r_status=[status for i in request_http_status_code for status in i]
    referer_agent=[refer for i in referer_head for refer in i ]
    user_agent = [ user for i in user_head for user in i]
    data= {'Ip_address':ip, 'Date_Time':dt,'Method_of_request':r_method,'Status_of_request': r_status, 'Referer_Header':referer_agent, 'User_Header':user_agent}
    df=pd.DataFrame(data)
    return df

In [11]:
access_data_dir='C:\\Users\\User\\Desktop\\cyber\\data\\access_log_data'

In [12]:
access_log_data=get_access_log_data(access_data_dir)

In [13]:
access_log_data.head()

,Ip_address,Date_Time,Method_of_request,Status_of_request,Referer_Header,User_Header
0,192.168.10.190,[29/Feb/2020:00:00:02 +0000],GET /login.php HTTP/1.1,200 2532,-,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:73....
1,192.168.10.4,[29/Feb/2020:00:00:09 +0000],POST /services/ajax.php/kronolith/listTopTags ...,200 402,http://mail.cup.com/kronolith/,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
2,192.168.10.190,[29/Feb/2020:00:00:12 +0000],POST /login.php HTTP/1.1,302 601,http://mail.cup.com/login.php,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:73....
3,192.168.10.190,[29/Feb/2020:00:00:13 +0000],GET /services/portal/ HTTP/1.1,200 7696,http://mail.cup.com/login.php,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:73....
4,192.168.10.190,[29/Feb/2020:00:00:14 +0000],GET /themes/default/graphics/head-bg.png HTTP/1.1,200 380,http://mail.cup.com/themes/default/screen.css,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:73....

## Error log

In [14]:
 # Get the timestamp.
def get_time_stamp(log_line):
    time_stamp = log_line.split('[:error]')[0]
    return time_stamp

In [15]:
 # Get the ip_address.
def get_ip_address(log_line):
    ip_address = log_line.split(' ')[9]
    return ip_address

In [16]:
 # Get the Process ID.
def get_PID(log_line):
    pid = log_line.split(' ')[7]
    return pid

In [17]:
 # Get the referer.
def get_referer(log_line):
    referer = log_line.split(' ')[-1]
    return referer

In [18]:
def get_error_log_data(data_dir):
    sub_dir_list=[]
    ip_address=[]
    date_time = []
    progress_id=[]
    referer_head=[]
    for sub_dir in os.listdir(data_dir):
        sub_dir_path = os.path.join(data_dir,sub_dir)
        sub_dir_list.append(sub_dir_path)
    for file_path in sub_dir_list:
        with open(file_path, 'r') as f:
            data= f.readlines()
            ip_addrs=[get_ip_address(i) for i in data]
            date_list=[get_time_stamp(i) for i in data]
            pid=[get_PID(i) for i in data]
            referer=[get_referer(i) for i in data]
            ip_address.append(ip_addrs)
            date_time.append(date_list)
            progress_id.append(pid)
            referer_head.append(referer)
    ip=[ip for i in ip_address for ip in i]
    dt = [date for i in date_time for date in i]
    p_id=[pi_d for i in progress_id for pi_d in i]
    referer_agent=[refer for i in referer_head for refer in i ]
    data= {'Ip_address':ip, 'Date_Time':dt,'PID':p_id,'Referer_Header':referer_agent}
    df=pd.DataFrame(data)
    return df

In [19]:
error_data_dir='C:\\Users\\User\\Desktop\\cyber\\data\\error_log_data'

In [20]:
error_log_data=get_error_log_data(error_data_dir)

In [21]:
error_log_data.head()

,Ip_address,Date_Time,PID,Referer_Header
0,192.168.10.4:55308],[Sun Mar 01 06:28:15.983231 2020],32548],http://mail.cup.com/nag/\n
1,192.168.10.4:55308],[Sun Mar 01 06:28:15.984200 2020],32548],http://mail.cup.com/nag/\n
2,192.168.10.4:55308],[Sun Mar 01 06:28:15.984863 2020],32548],http://mail.cup.com/nag/\n
3,192.168.10.4:55308],[Sun Mar 01 06:28:15.985763 2020],32548],http://mail.cup.com/nag/\n
4,192.168.10.4:55308],[Sun Mar 01 06:28:15.986326 2020],32548],http://mail.cup.com/nag/\n

## User log

In [22]:
def extract_date(log_line):
    if not log_line.startswith(tuple([' <_','Message:'])):
        if 'Next state:' in log_line:
            date=log_line.split('.')[0]
            return date
        else:
            pass
    else:
        pass

In [23]:
def extract_id(log_line):
    if not log_line.startswith(tuple([' <_','Message:'])):
        if 'Next state:' in log_line:
            time_id=log_line.split('.')[1].split(' ')[0]
            return time_id
        else:
            pass
    else:
        pass

In [24]:
def extract_next_state(log_line):
    if not log_line.startswith(tuple([' <_','Message:'])):
         if 'Next state:' in log_line:
            nt_state=log_line.split('Next state:')[-1]
            return nt_state
         else:
            pass
    else:
        pass

In [25]:
def extract_user(sub_dir,log_line):
    if not log_line.startswith(tuple([' <_','Message:'])):
        if 'Next state:' in log_line:
            user=sub_dir
            return user
        else:
            pass
    else:
        pass

In [26]:
def get_user_data(data_dir):
    date_lg= []
    timeid = []
    nxt_state = []
    user_list = []
    for sub_dir in os.listdir(data_dir):
        date_log= []
        time_id = []
        nxt_stage = []
        us_er=[]
        user=sub_dir
        sub_dir_path = os.path.join(data_dir,sub_dir)
        for file in os.listdir(sub_dir_path):
            file_path = os.path.join(sub_dir_path,file)
            with open(file_path, 'r') as f:
                data= f.readlines()
                date=[extract_date(i) for i in data]
                date_id=[extract_id(i) for i in data]
                next_state=[extract_next_state(i) for i in data]
                userlist=[extract_user(sub_dir,i) for i in data]
                date_log.append(date)
                time_id.append(date_id)
                nxt_stage.append(next_state)
                us_er.append(userlist)

        dt = [d for i in date_log for d in i]
        dt_id=[d_id for i in time_id for d_id in i]
        nx_state=[ns for i in nxt_stage for ns in i]
        web_user=[us for i in us_er for us in i]
        date_lg.append(dt)
        timeid.append(dt_id)
        nxt_state.append(nx_state)
        user_list.append(web_user)
    date_lg = [d for i in date_lg for d in i]
    timeid=[d_id for i in timeid for d_id in i]
    nxt_state=[ns for i in nxt_state for ns in i]
    user_list=[u for i in user_list for u in i]

    user_data= {'Date_Time':date_lg,'Date_id':timeid,'Next_State': nxt_state,'User':user_list}
    df=pd.DataFrame(user_data)
    return df
    #len(date_lg),len(timeid),len(nxt_state)

In [27]:
user_data_dir='C:\\Users\\User\\Desktop\\cyber\\data\\user_data'

In [28]:
user_data = get_user_data(user_data_dir)

In [36]:
user_data.head()

             Date_Time Date_id                  Next_State    User
0                 None    None                        None    None
1  2020-02-28 19:14:41  123111                     Login\n  user-0
2  2020-02-28 19:14:57  244144      Personal Preferences\n  user-0
3  2020-02-28 19:15:12  950956   Mail Delete Preferences\n  user-0
4  2020-02-28 19:16:43  522902                      Home\n  user-0

## Attack log

In [29]:
def extract_attack_date(log_line):
    date=log_line.split('UTC 2020')[0]
    return date

In [30]:
def extract_attack_status(log_line):
    status=log_line.split('UTC 2020')[1]
    return status

In [31]:
def extract_attack_user(sub_dir,log_line):
    user=sub_dir
    return user

In [32]:
def get_attack_data(data_dir):
    date_lg= []
    status = []
    user_list = []
    for sub_dir in os.listdir(data_dir):
        date_log= []
        stat = []
        us_er=[]
        user=sub_dir
        sub_dir_path = os.path.join(data_dir,sub_dir)
        for file in os.listdir(sub_dir_path):
            file_path = os.path.join(sub_dir_path,file)
            with open(file_path, 'r') as f:
                data= f.readlines()
                date=[extract_attack_date(i) for i in data]
                attack_stat=[extract_attack_status(i) for i in data]
                userlist=[extract_attack_user(sub_dir,i) for i in data]
                date_log.append(date)
                stat.append(attack_stat)
                us_er.append(userlist)

        dt = [d for i in date_log for d in i]
        attk_stat=[s for i in stat for s in i]
        web_user=[us for i in us_er for us in i]
        date_lg.append(dt)
        status.append(attk_stat)
        user_list.append(web_user)
    date_lg = [d for i in date_lg for d in i]
    status=[s for i in status for s in i]
    user_list=[u for i in user_list for u in i]
    user_data= {'Date_Time':date_lg,'Status':status,'User':user_list}
    df=pd.DataFrame(user_data)
    return df
    #len(date_lg),len(timeid),len(nxt_state)

In [33]:
attack_data_dir='C:\\Users\\User\\Desktop\\cyber\\data\\attack_data'

In [34]:
attack_data=get_attack_data(attack_data_dir)

In [35]:
attack_data.head()

             Date_Time                   Status    User
0  Wed Mar 4 12:37:51    okay-upload-webshell\n  user-4
1  Wed Mar 4 12:37:51                 success\n  user-4
2  Wed Mar 4 12:38:05               okay-curl\n  user-4
3  Wed Mar 4 12:38:05                 success\n  user-4
4  Wed Mar 4 13:51:47                    nmap\n  user-4

# Log Data Cleaning and Preparation

## server_access log

In [37]:
access_log_data.head()

,Ip_address,Date_Time,Method_of_request,Status_of_request,Referer_Header,User_Header
0,192.168.10.190,[29/Feb/2020:00:00:02 +0000],GET /login.php HTTP/1.1,200 2532,-,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:73....
1,192.168.10.4,[29/Feb/2020:00:00:09 +0000],POST /services/ajax.php/kronolith/listTopTags ...,200 402,http://mail.cup.com/kronolith/,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
2,192.168.10.190,[29/Feb/2020:00:00:12 +0000],POST /login.php HTTP/1.1,302 601,http://mail.cup.com/login.php,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:73....
3,192.168.10.190,[29/Feb/2020:00:00:13 +0000],GET /services/portal/ HTTP/1.1,200 7696,http://mail.cup.com/login.php,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:73....
4,192.168.10.190,[29/Feb/2020:00:00:14 +0000],GET /themes/default/graphics/head-bg.png HTTP/1.1,200 380,http://mail.cup.com/themes/default/screen.css,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:73....

In [43]:
access_log_data.Ip_address.unique()

array(['192.168.10.190', '192.168.10.4',
       'request was made from the same machine', '192.168.10.238',
       '192.168.10.200', '192.168.10.18', '192.168.10.98',
       '192.168.10.161', '192.168.10.185', '192.168.10.81',
       '192.168.10.130', '192.168.10.194'], dtype=object)

In [175]:
access_data=access_log_data[access_log_data.Ip_address!='request was made from the same machine'].reset_index(drop=True)

In [176]:
access_data.Status_of_request[11].split(' ')

['', '200', '8808', '']

In [177]:
def status_code(data):
    status=data[:3]
    return status

In [178]:
def respond_byte(data):
    res_byte=data[3:]
    return res_byte

In [179]:
def request_method(data):
    request_method=data.split(' ')[0]
    return request_method

In [180]:
def request_url(data):
    url=data.split(' ')[-2]
    return url

In [181]:
def remove_bracket(data):
    data=data.replace('[',' ')
    data=data.replace(']',' ')
    return data

In [182]:
access_data.Status_of_request.nunique()

12737

In [183]:
access_data[access_data.Method_of_request=='<script>alert(1)</script>']

Empty DataFrame
Columns: [Ip_address, Date_Time, Method_of_request, Status_of_request, Referer_Header, User_Header]
Index: []

In [184]:
access_data.Status_of_request

0           200 2532
1            200 402
2            302 601
3           200 7696
4            200 380
             ...
483827     200 19513
483828       302 492
483829     200 21290
483830     200 10442
483831      200 3843
Name: Status_of_request, Length: 483832, dtype: object

In [185]:
def remove_space(data):
    data=data.replace('  ',"")
    data=data.replace(' ',"")
    return data

In [186]:
access_data.Date_Time=access_data.Date_Time.apply(lambda x:remove_bracket(x))
access_data.Date_Time=access_data.Date_Time.apply(lambda x:remove_space(x))

In [187]:
access_data['Request_Method']=access_data.Method_of_request.apply(lambda x:request_method(x))
access_data['Request_status']=access_data.Status_of_request.apply(lambda x:remove_space(x))
access_data.Request_status=access_data.Request_status.apply(lambda x:status_code(x))
access_data['Response_byte']=access_data.Status_of_request.apply(lambda x:remove_space(x))
access_data.Response_byte=access_data.Response_byte.apply(lambda x:respond_byte(x))

In [188]:
access_data.head()

,Ip_address,Date_Time,Method_of_request,Status_of_request,Referer_Header,User_Header,Request_Method,Request_status,Response_byte
0,192.168.10.190,29/Feb/2020:00:00:02+0000,GET /login.php HTTP/1.1,200 2532,-,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:73....,GET,200,2532
1,192.168.10.4,29/Feb/2020:00:00:09+0000,POST /services/ajax.php/kronolith/listTopTags ...,200 402,http://mail.cup.com/kronolith/,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,POST,200,402
2,192.168.10.190,29/Feb/2020:00:00:12+0000,POST /login.php HTTP/1.1,302 601,http://mail.cup.com/login.php,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:73....,POST,302,601
3,192.168.10.190,29/Feb/2020:00:00:13+0000,GET /services/portal/ HTTP/1.1,200 7696,http://mail.cup.com/login.php,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:73....,GET,200,7696
4,192.168.10.190,29/Feb/2020:00:00:14+0000,GET /themes/default/graphics/head-bg.png HTTP/1.1,200 380,http://mail.cup.com/themes/default/screen.css,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:73....,GET,200,380

In [189]:
access_data.columns

Index(['Ip_address', 'Date_Time', 'Method_of_request', 'Status_of_request',
       'Referer_Header', 'User_Header', 'Request_Method', 'Request_status',
       'Response_byte'],
      dtype='object')

In [200]:
access_data=access_data[['Ip_address', 'Date_Time', 'Method_of_request', 'Request_Method', 'Request_status','Referer_Header', 'User_Header']]

In [202]:
#access_data.Date_Time=access_data.Date_Time.apply(lambda x:x.split(':')[0])

In [203]:
access_data['Date_Time']=pd.to_datetime(access_data['Date_Time'])

C:\Users\User\AppData\Local\Temp\ipykernel_5292\2237950982.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  access_data['Date_Time']=pd.to_datetime(access_data['Date_Time'])

In [213]:
access_data.Request_Method.unique()

array(['GET', 'POST', '-', 'HEAD', 'PUT', 'OPTIONS', 'DEBUG', 'PROPFIND',
       'TRACE', 'TRACK', 'get', 'INDEX', 'SEARCH',
       '<script>alert(1)</script>'], dtype=object)

In [218]:
access_data.head()

,Ip_address,Date_Time,Method_of_request,Request_Method,Request_status,Referer_Header,User_Header
0,192.168.10.190,2020-02-29,GET /login.php HTTP/1.1,GET,200,-,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:73....
1,192.168.10.4,2020-02-29,POST /services/ajax.php/kronolith/listTopTags ...,POST,200,http://mail.cup.com/kronolith/,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
2,192.168.10.190,2020-02-29,POST /login.php HTTP/1.1,POST,302,http://mail.cup.com/login.php,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:73....
3,192.168.10.190,2020-02-29,GET /services/portal/ HTTP/1.1,GET,200,http://mail.cup.com/login.php,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:73....
4,192.168.10.190,2020-02-29,GET /themes/default/graphics/head-bg.png HTTP/1.1,GET,200,http://mail.cup.com/themes/default/screen.css,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:73....

## Error data log

In [219]:
error_log_data.head()

,Ip_address,Date_Time,PID,Referer_Header
0,192.168.10.4:55308],[Sun Mar 01 06:28:15.983231 2020],32548],http://mail.cup.com/nag/\n
1,192.168.10.4:55308],[Sun Mar 01 06:28:15.984200 2020],32548],http://mail.cup.com/nag/\n
2,192.168.10.4:55308],[Sun Mar 01 06:28:15.984863 2020],32548],http://mail.cup.com/nag/\n
3,192.168.10.4:55308],[Sun Mar 01 06:28:15.985763 2020],32548],http://mail.cup.com/nag/\n
4,192.168.10.4:55308],[Sun Mar 01 06:28:15.986326 2020],32548],http://mail.cup.com/nag/\n

In [222]:
error_log_data.Ip_address=error_log_data.Ip_address.apply(lambda x:remove_bracket(x))
error_log_data.Ip_address=error_log_data.Ip_address.apply(lambda x:x.split(':')[0])

In [231]:
error_log_data.Date_Time=error_log_data.Date_Time.apply(lambda x:remove_bracket(x))
error_log_data.Date_Time=error_log_data.Date_Time.apply(lambda x:x.split('06:')[0])

In [232]:
error_log_data.PID=error_log_data.PID.apply(lambda x:remove_bracket(x))

In [233]:
error_log_data

         Ip_address     Date_Time     PID                   Referer_Header
0      192.168.10.4   Sun Mar 01   32548        http://mail.cup.com/nag/\n
1      192.168.10.4   Sun Mar 01   32548        http://mail.cup.com/nag/\n
2      192.168.10.4   Sun Mar 01   32548        http://mail.cup.com/nag/\n
3      192.168.10.4   Sun Mar 01   32548        http://mail.cup.com/nag/\n
4      192.168.10.4   Sun Mar 01   32548        http://mail.cup.com/nag/\n
..              ...           ...     ...                              ...
636  192.168.10.130   Thu Mar 05   14982   http://mail.spiral.com/turba/\n
637  192.168.10.130   Thu Mar 05   14982   http://mail.spiral.com/turba/\n
638  192.168.10.130   Thu Mar 05   14982   http://mail.spiral.com/turba/\n
639  192.168.10.130   Thu Mar 05   14982   http://mail.spiral.com/turba/\n
640  192.168.10.130   Thu Mar 05   14982   http://mail.spiral.com/turba/\n

[641 rows x 4 columns]

## user_data

In [252]:
user_data.Date_Time[0]

0

In [251]:
user_data=user_data.fillna(0)

In [261]:
user_data=user_data[user_data.Date_Time!=0].reset_index(drop=True)

In [262]:
user_data.Date_Time[0]

'2020-02-28'

In [263]:
user_data.Date_Time=user_data.Date_Time.apply(lambda x:x.split(' ')[0])

In [264]:
user_data

         index   Date_Time Date_id                  Next_State    User
0            1  2020-02-28  123111                     Login\n  user-0
1            2  2020-02-28  244144      Personal Preferences\n  user-0
2            3  2020-02-28  950956   Mail Delete Preferences\n  user-0
3            4  2020-02-28  522902                      Home\n  user-0
4            5  2020-02-28  807088          MenuBarSelection\n  user-0
...        ...         ...     ...                         ...     ...
476453  646231  2020-03-06  632661          NewCalendarEvent\n  user-9
476454  646232  2020-03-06  658098                      Home\n  user-9
476455  646233  2020-03-06  526480          MenuBarSelection\n  user-9
476456  646234  2020-03-06  526653                    Logout\n  user-9
476457  646235  2020-03-06  773555                      Idle\n  user-9

[476458 rows x 5 columns]

In [265]:
user_data['Date_Time']=pd.to_datetime(user_data['Date_Time'])

In [267]:
user_data.head()

   index  Date_Time Date_id                  Next_State    User
0      1 2020-02-28  123111                     Login\n  user-0
1      2 2020-02-28  244144      Personal Preferences\n  user-0
2      3 2020-02-28  950956   Mail Delete Preferences\n  user-0
3      4 2020-02-28  522902                      Home\n  user-0
4      5 2020-02-28  807088          MenuBarSelection\n  user-0

In [268]:
## Attack Data

In [269]:
attack_data.head()

             Date_Time                   Status    User
0  Wed Mar 4 12:37:51    okay-upload-webshell\n  user-4
1  Wed Mar 4 12:37:51                 success\n  user-4
2  Wed Mar 4 12:38:05               okay-curl\n  user-4
3  Wed Mar 4 12:38:05                 success\n  user-4
4  Wed Mar 4 13:51:47                    nmap\n  user-4

# Exploratory Data Analysis